# Topic ideas - Data

---

Group name: Gruppe A

---

*Replace the italic texts with your descriptions*

## E-Commerce Transaktionsdaten

## Data source

Der Datensatz zeigt Transaktionsdaten eines E-Commerce Unternehmen aus dem Vereinigten Koenigreich. Die Daten wurden zwischen dem 01.12.2010 und dem 09.12.2011 erfasst.

Mithilfe des UCI Machine Learning Repository wurde der Datensatz von wurde Dr Daqing Chen zur Verfuegung gestellt. <br>
[Quelle:](https://archive.ics.uci.edu/ml/datasets/online+retail#) Dr Daqing Chen, Director: Public Analytics group. chend '@' lsbu.ac.uk, School of Engineering, London South Bank University, London SE1 0AA, UK.

## Data characterisitcs

Jeder Beobachtungswert stellt innerhalb des Datensatzes eine Transaktion / Produktbestellung dar, wobei mehrere Transaktionen / Produktbestellungen einer Rechnung(snummer) zugeteilt werden kann.

Der Datensatz enthaelt 541909 Beobachtungswerte mit 8 Spalten.

| Spaltenname  | Beschreibung  | Skalenniveau |
|---|---|---|
|InvoiceNo | Rechnungsnummer, 6-stellige Nummer, welche jede Transaktion eindeutig zuordnet. <br>Falls die Nummer ein "c" enthält wurde die Transaktion storniert. | Nominal |
|StockCode | Produktnummer, 5-stellige Nummer, welche jedem einzelnem Produkt eindeutig zugeordnet ist. | Nominal |
|Description | Beschreibung des Produkts. | Nominal |
|Quantity | Menge der einzelnen Produkte pro Transaktion. | Verhaeltnis |
|InvoiceDate | Uhrzeit und Datum der Rechnung. | Intervall |
|UnitPrice | Preis pro Produkt. | Verhaeltnis |
|CustomerID | Kundennummer, 5-stellige Nummer, welche je einem Kunden eindeutig zugeordnet ist. | Nominal |
|Country | Name des Landes in welchem der Kunde ansässig ist. | Nominal |

## Question

Wie sind die Umsaetze und Verkaeufe verteilt? Welche Kunden(gruppen), Produkt(gruppen) und Regionen sind besonders relevant?<br>
Welche saisonalen Einfluesse *scheinen* vorhanden zu sein?<br>
Wie kann sich das Unternehmen u.a. mithilfe des Online-Shops zukuenftig positionieren, um den Umsatz zu maximieren? 

## Overview of data

In [3]:
# Import der Python-Bibliothek pandas
import pandas as pd

In [ ]:
# Import des Datensatzes
df = pd.read_csv("/Users/lukas/Desktop/data.csv", encoding= 'unicode_escape')

In [7]:
# Uebersicht der ersten zehn Beobachtungswerte
df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

In [9]:
# Anzahl der Zeilen und Spalten des Datensatzes
df.shape

(541909, 8)

In [10]:
# Uebersicht der Variablen
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [12]:
# Uebersicht der nummerischen Werte (CustomerID darf nicht für Berechnungen verwendet werden)
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [14]:
# Fehlende Werte
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

## Bindung der top Künstler

### Data source
Der Datensatz wurde auf der Website : "http://organizeyourmusic.playlistmachinery.com/" per Scraper gescraped.


### Data characterisitcs
Der Datensatz zeigt die 100 meistgestreamten Songs der Welt auf Spotify.
Jede Beobachtung zeigt einen Top 100 Song und dessen Attribute wie z.B. "popularity", "year" etc.
Der Datensatz enthält 100 Beobachtungswerte mit 14 Spalten.

| Spaltenname  | Beschreibung  
|---|---|
|title | Titel des Stücks. | 
|artist | Name des Künstlers. |
|top genre | Art des Genres. | 
|year | Jahr der Veröffentlichung. | 
|beats.per.minute | Tempo des Stücks. | 
|energy | Die Energie eines Liedes - je höher der Wert, desto energiegeladener das Lied. | 
|danceability | Je höher der Wert, desto einfacher ist es, zu diesem Lied zu tanzen. |
|loudness.dB | Je höher der Wert, desto lauter das Lied. | 
|liveness | Je höher der Wert, desto wahrscheinlicher ist es, dass es sich bei dem Lied um eine Live-Aufnahme handelt. | 
|valance | Je höher der Wert, desto positiver ist die Stimmung für den Song. |
|length | Die Länge des Liedes | 
|acousticness | Je höher der Wert, desto akustischer ist der Song. | 
|speechiness | Je höher der Wert, desto mehr gesprochenes Wort enthält der Song. | 
|popularity | Je höher der Wert, desto beliebter ist der Song. | 


### Question

Spielen die verschiedenen Attribute wie z.B. "liveness" eine Rolle bei der Beliebtheit wenn ja wie groß is der jewilige Einfluss.
Welche Künstler sind am beliebtesten auf Spotify.
Welche Gernes sind am beliebtesten auf Spotify.

### Overview of data

*Use the Pandas functions to provide an overview of the data set*

In [8]:
# Import des Datensatzes
df1 = pd.read_csv(r"E:\Uni\Uni\Sem7\Analytics und Data Storytelling\Projekt\Daten\daten.csv", encoding= 'unicode_escape')

In [9]:
# Uebersicht der ersten zehn Beobachtungswerte
df1.head(10)

,title,artist,top genre,year,beats.per.minute,energy,danceability,loudness.dB,liveness,valance,length,acousticness,speechiness,popularity
0,Blinding Lights,The Weeknd,canadian contemporary r&b,2020,171,73,51,-6,9,33,200,0,6,91
1,Watermelon Sugar,Harry Styles,pop,2019,95,82,55,-4,34,56,174,12,5,88
2,Mood (feat. iann dior),24kGoldn,cali rap,2021,91,72,70,-4,32,73,141,17,4,88
3,Someone You Loved,Lewis Capaldi,pop,2019,110,41,50,-6,11,45,182,75,3,86
4,Perfect,Ed Sheeran,pop,2017,95,45,60,-6,11,17,263,16,2,86
5,Believer,Imagine Dragons,modern rock,2017,125,78,78,-4,8,67,204,6,13,86
6,lovely (with Khalid),Billie Eilish,electropop,2018,115,30,35,-10,10,12,200,93,3,86
7,Circles,Post Malone,dfw rap,2019,120,76,70,-3,9,55,215,19,4,86
8,Shape of You,Ed Sheeran,pop,2017,96,65,83,-3,9,93,234,58,8,85
9,Memories,Maroon 5,pop,2021,91,33,78,-7,8,60,189,84,6,85

In [10]:
# Anzahl der Zeilen und Spalten des Datensatzes
df1.shape

(100, 14)

In [11]:
# Uebersicht der Variablen
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             100 non-null    object
 1   artist            100 non-null    object
 2   top genre         100 non-null    object
 3   year              100 non-null    int64
 4   beats.per.minute  100 non-null    int64
 5   energy            100 non-null    int64
 6   danceability      100 non-null    int64
 7   loudness.dB       100 non-null    int64
 8   liveness          100 non-null    int64
 9   valance           100 non-null    int64
 10  length            100 non-null    int64
 11  acousticness      100 non-null    int64
 12  speechiness       100 non-null    int64
 13  popularity        100 non-null    int64
dtypes: int64(11), object(3)
memory usage: 11.1+ KB

In [13]:
# Uebersicht der nummerischen Werte (CustomerID darf nicht für Berechnungen verwendet werden)
df1.describe()

,year,beats.per.minute,energy,danceability,loudness.dB,liveness,valance,length,acousticness,speechiness,popularity
count,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000
mean,2015.960000,116.970000,62.680000,66.96000,-6.100000,16.860000,49.970000,214.530000,24.95000,9.930000,79.670000
std,5.327497,27.470629,16.491737,13.60401,1.987334,12.972403,21.737857,35.934974,26.27876,9.424077,5.905065
min,1975.000000,71.000000,11.000000,35.00000,-14.000000,3.000000,6.000000,119.000000,0.00000,2.000000,53.000000
25%,2015.000000,95.000000,52.000000,59.00000,-7.000000,10.000000,33.750000,190.500000,4.00000,4.000000,79.000000
50%,2017.000000,115.000000,64.500000,69.00000,-6.000000,12.000000,48.000000,210.000000,13.00000,6.000000,81.000000
75%,2018.000000,135.250000,76.000000,77.00000,-5.000000,17.250000,66.000000,234.250000,41.50000,11.000000,83.000000
max,2021.000000,186.000000,92.000000,91.00000,-3.000000,79.000000,93.000000,354.000000,98.00000,46.000000,91.000000

In [14]:
# Fehlende Werte
df1.isna().sum()

title               0
artist              0
top genre           0
year                0
beats.per.minute    0
energy              0
danceability        0
loudness.dB         0
liveness            0
valance             0
length              0
acousticness        0
speechiness         0
popularity          0
dtype: int64